<link rel="stylesheet" href="/css/allBurgers.css">

<body>
  <header>
    {{> navbar}}
  </header>

  <main>
    <div class="container main">
      <h1 class="text-center my-5 fw-bold text-danger">Todas las burgers</h1>
      <p class="text-center my-5">Aquí encontrarás todas las burgers que tenemos en nuestro menú</p>
      <div id="burgersList"></div>

    </div>
  </main>

  <footer>
    {{> footer}}
  </footer>
</body>

<script src="/js/allBurgers.js"></script>