<link rel="stylesheet" href="/css/burgerPage.css">

<body>
  <header>
    {{> navbar}}
  </header>
  <main>
    <div class="container pt-5">

      {{!-- flecha a la izquierda, un link para volver a ranking --}}
      <div class="row" id="back-arrow-nav">
        <div class="col-lg-12">
          <a href="/ranking" class="back-arrow">
            <i id="back" class="fa-solid fa-arrow-left"></i>
            Ranking
          </a>
        </div>
      </div>

      <div class="row my-3 product">
        <div class="col-lg-6">
          <div class="product-img">
            <img id="burger-img" alt="Hamburguesa" class="img-fluid"></img>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="product-name">
            <h1 id="burger-name" class="my-3"></h1>
            <button class="favorites">
              <i id="hearth-fav" class="fa-solid fa-heart" style="color: #ff0000;"></i>
            </button>
          </div>
          <div class="product-author">
            <h6>Autor: </h6>
            <p id="burger-author"></p>
          </div>
          <hr>


          <div class="product-difficulty">
            <h6>Dificultad: </h6>
            <p id="burger-difficulty"></p>
          </div>

          <div class="product-time">
            <h6>Tiempo: </h6>
            <p id="burger-time"></p>
          </div>

          <div class="product-num-ingredient">
            <h6>Número de ingredientes: </h6>
            <p id="burger-num-ingredients"></p>
          </div>

          <div class="product-ingredients">
            <h6>Ingredientes:</h6>
            <ul id="burger-ingredients-list" class="list-group list-group-flush"></ul>
          </div>

          <div class="product-description my-3">
            <h6>Descripción:</h6>
            <p id="burger-description"></p>
          </div>

        </div>
      </div>

    </div>
  </main>
  <footer class="pt-5">
    {{> footer}}
  </footer>

</body>
<script src="/js/burgerSinglePage.js"></script>