<link rel="stylesheet" href="/css/crear.css">

<body>
  <header>
    {{> navbar}}
  </header>
  <main>
    <div class="container burger-maker">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Crear Hamburguesa</h1>
        </div>
        <!-- Columna de ingredientes -->
        <div class="col-lg-4">
          <form id="ingredient-form">
            <div class="form-group">
              <label for="pan">Pan</label>

              <select class="form-control" id="bread">
                <option value="#">Selecciona un pan</option>
                <option value="bread-normal">Pan normal</option>
                <option value="bread-integral">Pan integral</option>
                <option value="bread-brioche">Pan brioche</option>
              </select>

            </div>


            <div class="form-group" id="topping-list">
              <label for="toppings">Toppings</label>
              <select class="form-control" id="topping">
                <option value="#">Selecciona un topping</option>
                <option value="topping-huevo">Huevo</option>
                <option value="topping-bacon">Bacon</option>
                <option value="topping-cebolla-crujiente">Cebolla crujiente</option>
              </select>
              <button id="add-topping" class="add-ingredient">+</button>
            </div>


            <div class="form-group" id="cheese-list">
              <label for="queso">Queso</label>
              <select class="form-control" id="cheese">
                <option value="#">Selecciona un queso</option>
                <option value="cheese-cheddar">Cheddar</option>
                <option value="cheese-azul">Azul</option>
                <option value="cheese-gouda">Gouda</option>
              </select>
              <button id="add-cheese" class="add-ingredient">+</button>
            </div>

            <div class="form-group" id="meat-list">
              <label for="carne">Carne</label>
              <select class="form-control" id="meat">
                <option value="#">Selecciona una carne</option>
                <option value="meat-cerdo">Cerdo</option>
                <option value="meat-pollo">Pollo</option>
                <option value="meat-vaca">Vaca</option>
              </select>
              <button id="add-meat" class="add-ingredient">+</button>
            </div>



            <div class="form-group" id="vegetable-list">
              <label for="verduras">Verduras</label>
              <select class="form-control" id="vegetable">
                <option value="#">Selecciona una verdura</option>
                <option value="vegetable-lechuga">Lechuga</option>
                <option value="vegetable-tomate">Tomate</option>
                <option value="vegetable-cebolla">Cebolla</option>
                <option value="vegetable-pepinillo">Pepinillo</option>
              </select>
              <button id="add-vegetable" class="add-ingredient">+</button>

            </div>

            <div class="form-group" id="sauce-list">
              <label for="salsa">Salsa</label>
              <select class="form-control" id="sauce">
                <!-- Opciones de salsa -->
                <option value="#">Selecciona una salsa</option>
                <option value="sauce-barbacoa">Salsa barbacoa</option>
                <option value="sauce-mayonesa">Salsa mayonesa</option>
                <option value="sauce-mostaza">Salsa mostaza</option>
                <option value="sauce-ketchup">Salsa ketchup</option>
              </select>
              <button id="add-sauce" class="add-ingredient">+</button>
            </div>
          </form>
        </div>

        <!-- Columna de imágenes -->
        <div class="col-lg-4">
          <div id="burger-images" class="text-center">
            <div>
              <img id="bread-image" src="/img/create_burger/bread-normal.png">
              <img id="topping-image" class="ingredient" src="">
              <img id="cheese-image" class="ingredient" src="">
              <img id="meat-image" class="ingredient" src="">
              <img id="vegetable-image" class="ingredient" src="">
              <img id="sauce-image" class="ingredient" src="">
            </div>
          </div>
        </div>

        <!-- Columna de resumen y formulario -->
        <div class="col-lg-4">
          <div id="burger-summary">
            <!-- Resumen de la hamburguesa -->
          </div>
          <form id="create-burger-form">
            <div class="form-group">
              <label for="difficulty">Dificultad</label>
              <div>
                <label class="btn btn-outline-danger">
                  <input type="radio" name="difficulty" value="1"> Fácil
                </label>
                <label class="btn btn-outline-danger">
                  <input type="radio" name="difficulty" value="2"> Media
                </label>
                <label class="btn btn-outline-danger">
                  <input type="radio" name="difficulty" value="3"> Difícil
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="tiempo">Tiempo</label>
              <input type="number" class="form-control" id="time-to-prepare" placeholder="Max: 120 minutos" min="0" max="120">
            </div>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="burger-name" placeholder="Nombre">
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="imagen">Subir Imagen</label>
              <input type="file" class="form-control-file" id="picture">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger mt-4">Crear Hamburguesa</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer>
    {{> footer}}
  </footer>
</body>

<script src="/js/crearHamburguesa.js"></script>