<body>
  <header>
    {{> navbar}}
  </header>
  <main>

    <div class="portada">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 mt-lg-5 texto-portada">
            <div>
              <h1>Crea tus Burgers</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Corrupti repellat eveniet numquam nostrum eum commodi, nisi
                consequuntur quibusdam debitis! Illo!
              </p>
              <a href="/crear">Comenzar</a>
            </div>
          </div>
          <div class="col-12 col-lg-6 d-md-none d-sm-none d-none d-lg-flex imagen-portada">
            <div>
              <img src="/img/portada_header.png" alt="portadaBurgers" />
            </div>
          </div>
        </div>
      </div>
    </div>



    {{!-- SECCION QUE ES --}}
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 col-md-4 col-sm-12">
          <div class="que-es">
            <img src="/img/que-es.jpg" alt="" />
          </div>
        </div>

        <div class="col-12 col-lg-6 col-md-8 col-sm-12 que-es">
          <div>
            <h2>¿Qué es Burgers?</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At
              molestias porro totam optio perferendis hic minima assumenda,
              illo quisquam? Beatae.Lorem ipsum dolor sit amet consectetur
              adipisicing elit. At molestias porro totam optio perferendis hic
              minima assumenda, illo quisquam? Beatae.
            </p>

            <a class="text-center" href="/quienes-somos">Leer más</a>
          </div>
        </div>
      </div>
    </div>
    {{!-- FIN SECCION - QUE ES? --}}

    {{!-- SECCION - RANKING --}}
    <div class="fondo-ranking">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="ranking-texto">
              <h2>Ranking del mes</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident, in.
              </p>
            </div>
          </div>
        </div>

        <div class="row ranking-elementos">
          {{!-- IZQUIERDA --}}
          <div class="col-12 col-md-4">
            <div class="ranking-card">
              <div class="ranking-puesto">
                <p>#2</p>
              </div>
              <div class="ranking-imagen">
                <img id="foto-ranking-2" src="/img/burger-ejemplo.jpg" alt="" />
              </div>

              <div class="ranking-responsive">
                <div class="ranking-texto-h3">
                  <a id="burger-2" class="link-to-burger" href="/burger/2">
                    <h3 id="nombre-ranking-2">Nombre HAMBURGUESA</h3>
                  </a>
                </div>
                <div class="ranking-valoraciones">
                  <p id="valoraciones-ranking-2">1000 valoraciones</p>
                </div>
                <div class="ranking-especs">
                  <p id="tiempo-2">15 min</p>
                  <p id="ingredientes-2">5 ingredientes</p>
                  <p id="dificultad-2">Facil</p>
                </div>
              </div>

            </div>
          </div>

          {{!-- CENTRO --}}
          <div class="col-12 col-md-4" style='margin: 30px auto'>
            <div class="ranking-card principal">
              <div class="ranking-puesto">
                <p>#1</p>
              </div>
              <div class="ranking-imagen">
                <img id="foto-ranking-1" src="/img/burger-ejemplo.jpg" alt="" />
              </div>

              <div class="ranking-responsive">
                <div class="ranking-texto-h3">
                  <a id="burger-1" class="link-to-burger" href="/burger/1">
                    <h3 id="nombre-ranking-1">Nombre HAMBURGUESA</h3>
                  </a>
                </div>
                <div class="ranking-valoraciones">
                  <p id="valoraciones-ranking-1">1000 valoraciones</p>
                </div>
                <div class="ranking-especs">
                  <p id="tiempo-1">15 min</p>
                  <p id="ingredientes-1">5 ingredientes</p>
                  <p id="dificultad-1">Facil</p>
                </div>
              </div>

            </div>
          </div>
          {{!-- DERECHA --}}
          <div class="col-12 col-md-4">
            <div class="ranking-card">
              <div class="ranking-puesto">
                <p>#3</p>
              </div>
              <div class="ranking-imagen">
                <img id="foto-ranking-3" src="/img/burger-ejemplo.jpg" alt="" />
              </div>

              <div class="ranking-responsive">
                <div class="ranking-texto-h3">
                  <a id="burger-3" class="link-to-burger" href="/burger/3">
                    <h3 id="nombre-ranking-3">Nombre HAMBURGUESA</h3>
                  </a>
                </div>
                <div class="ranking-valoraciones">
                  <p id="valoraciones-ranking-3">1000 valoraciones</p>
                </div>
                <div class="ranking-especs">
                  <p id="tiempo-3">15 min</p>
                  <p id="ingredientes-3">5 ingredientes</p>
                  <p id="dificultad-3">Facil</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="ranking-boton">
              <a href="/ranking">Ver Ranking</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- FIN SECCION RANKING --}}

    {{!-- SECCION CONTACTO --}}
    <div class="container">
      <div class="d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-12">
            <div class="formulario-contenedor">
              <form action="" method="">
                <h2>Contacto</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Velit maxime modi doloremque nemo repellat tempora, ipsum
                  voluptatem fugit amet facilis at tenetur hic iusto quis sint
                  sit nisi asperiores mollitia placeat dolore.
                </p>
                <p>
                  <strong>Telefono:</strong> 123456789
                </p>
                <p>
                  <strong>Email:</strong> 123456789
                </p>
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" name="nombre" id="nombre" placeholder="Paquito Pantano" />

                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" placeholder="ejemplo@ejemplo.com" />

                  <label for="mensaje">Mensaje</label>
                  <textarea name="mensaje" id="mensaje" cols="30" rows="5"
                    placeholder="Escribe tu mensaje..."></textarea>
                </div>
                <div class="formulario-submit">
                  <input type="submit" value="Enviar" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- FIN SECCION CONTACTO --}}
  </main>


  <footer>
    {{> footer}}
  </footer>
</body>