<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/Inicio.css">
  <link rel="stylesheet" href="/css/Header.css">
  <link rel="stylesheet" href="/css/Footer.css">
  <link rel="stylesheet" href="/css/PortadaInicio.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Burgers</title>

  <script>

    document.addEventListener('DOMContentLoaded', () => {
      const rankingNombreUno = document.querySelector('#nombre-ranking-uno');
      const rankingNombreDos = document.querySelector('#nombre-ranking-dos');
      const rankingNombreTres = document.querySelector('#nombre-ranking-tres');

      fetch('/api/v1/burgers')
        .then(response => response.json())
        .then(data => {
          console.log(data);

          rankingNombreUno.innerHTML = data[0].burger_name;
          rankingNombreDos.innerHTML = data[1].burger_name;
          rankingNombreTres.innerHTML = data[2].burger_name;
        })
        .catch(error => console.log(error));
    });


  </script>

</head>
<body>
  <header>
    <nav id='navegacion'>
      <a href="a">
        <img src="/img/logoBlanco.svg" id="logoNav" alt="logo blanco Burgers" width="200" height="50"/>
      </a>

      <div class="navbar">
        <ul>
          <li>
            <a href="a">Crear</a>
          </li>
          <li>
            <a href="a">Ranking</a>
          </li>
          <li>
            <a href="a">Locales</a>
          </li>
          <li>
            <a href="a">Quienes somos</a>
          </li>
          <li>
            <a href="a">Contacto</a>
          </li>
        </ul>
      </div>

      {{!-- TODO: AÑADIR EL ICONO DE USUARIO CUANDO SEA RESPONSIVE --}}

      <button type="button" class="connection"> Entrar / Registrar </button>

      <button id="hamburguesa">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>
  </header>
  <main>

    <div class="portada">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 mt-lg-5 texto-portada">
            <div>
              <h1>Crea tus Burgers</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Corrupti repellat eveniet numquam nostrum eum commodi, nisi
                consequuntur quibusdam debitis! Illo!
              </p>
              <a href="a">Comenzar</a>
            </div>
          </div>
          <div class="col-12 col-lg-6 d-md-none d-sm-none d-none d-lg-flex imagen-portada">
            <div>
              <img src="/img/portada_header.png" alt="portadaBurgers" />
            </div>
          </div>
        </div>
      </div>
    </div>



      {{!-- SECCION QUE ES --}}
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 col-md-4 col-sm-12">
            <div class="que-es">
              <img src="/img/que-es.jpg" alt="" />
            </div>
          </div>

          <div class="col-12 col-lg-6 col-md-8 col-sm-12 que-es">
            <div>
              <h2>¿Qué es Burgers?</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                molestias porro totam optio perferendis hic minima assumenda,
                illo quisquam? Beatae.Lorem ipsum dolor sit amet consectetur
                adipisicing elit. At molestias porro totam optio perferendis hic
                minima assumenda, illo quisquam? Beatae.
              </p>

              <a href="a">Leer más</a>
            </div>
          </div>
        </div>
      </div>
      {{!-- FIN SECCION - QUE ES? --}}

      {{!-- SECCION - RANKING --}}
      <div class="fondo-ranking">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="ranking-texto">
                <h2>Ranking del mes</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Provident, in.
                </p>
              </div>
            </div>
          </div>

          <div class="row ranking-elementos">
            {{!-- IZQUIERDA --}}
            <div class="col-12 col-md-4">
              <div class="ranking-card">
                <div class="ranking-puesto">
                  <p>#2</p>
                </div>
                <div class="ranking-imagen">
                  <img id="foto-ranking-dos" src="/img/burger-ejemplo.jpg" alt="" />
                </div>

                <div class="ranking-responsive">
                  <div class="ranking-texto-h3">
                    <h3 id="nombre-ranking-dos">Nombre HAMBURGUESA</h3>
                  </div>
                  <div class="ranking-valoraciones">
                    <p>1000 valoraciones</p>
                  </div>
                  <div class="ranking-especs">
                    <p>15 min</p>
                    <p>5 ingredientes</p>
                    <p>Facil</p>
                  </div>
                </div>

              </div>
            </div>

            {{!-- CENTRO --}}
            <div class="col-12 col-md-4" style='margin: 30px auto'>
              <div class="ranking-card principal">
                <div class="ranking-puesto">
                  <p>#1</p>
                </div>
                <div class="ranking-imagen">
                  <img id="foto-ranking-uno" src="/img/burger-ejemplo.jpg" alt="" />
                </div>

                <div class="ranking-responsive">
                  <div class="ranking-texto-h3">
                    <div id="nombre-ranking-uno">
                      <h3>Nombre HAMBURGUESA</h3>
                    </div>
                  </div>
                  <div class="ranking-valoraciones">
                    <p>1000 valoraciones</p>
                  </div>
                  <div class="ranking-especs">
                    <p>15 min</p>
                    <p>5 ingredientes</p>
                    <p>Facil</p>
                  </div>
                </div>

              </div>
            </div>
            {{!-- DERECHA --}}
            <div class="col-12 col-md-4">
              <div class="ranking-card">
                <div class="ranking-puesto">
                  <p>#3</p>
                </div>
                <div class="ranking-imagen">
                  <img id="foto-ranking-tres" src="/img/burger-ejemplo.jpg" alt="" />
                </div>

                <div class="ranking-responsive">
                  <div class="ranking-texto-h3">
                    <h3 id="nombre-ranking-tres">Nombre HAMBURGUESA</h3>
                  </div>
                  <div class="ranking-valoraciones">
                    <p>1000 valoraciones</p>
                  </div>
                  <div class="ranking-especs">
                    <p>15 min</p>
                    <p>5 ingredientes</p>
                    <p>Facil</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="ranking-boton">
                <a href="a">Ver Ranking</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- FIN SECCION RANKING --}}



      {{!-- SECCION MAPA --}}
      <div class="container seccion-mapa">
        <div class="row">

          <div class="col-12 col-lg-5 col-md-12 col-sm-12">
            <div class="d-flex justify-content-center align-items-center">
              <div class="mapa-texto">
                <h2>Busca tu Burger</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, eaque qui ipsum illo exercitationem corrupti, asperiores voluptatibus ipsam est rem praesentium magni libero eum dolores dolor in voluptas, perspiciatis ipsa esse nesciunt veritatis? Assumenda eligendi quo iusto voluptas minus nemo.
                </p>
                <a href="a">Ver más</a>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-7 col-md-12 col-sm-12">
            <div class="mapa"></div>
          </div>

        </div>
      </div>
      {{!-- FIN SECCION MAPA --}}



      {{!-- SECCION CONTACTO --}}
      <div class="container">
        <div class="d-flex justify-content-center align-items-center">
          <div class="row">
            <div class="col-12">
              <div class="formulario-contenedor">
                <form action="" method="">
                  <h2>Contacto</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Velit maxime modi doloremque nemo repellat tempora, ipsum
                    voluptatem fugit amet facilis at tenetur hic iusto quis sint
                    sit nisi asperiores mollitia placeat dolore.
                  </p>
                  <p>
                    <strong>Telefono:</strong> 123456789
                  </p>
                  <p>
                    <strong>Email:</strong> 123456789
                  </p>
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Paquito Pantano"/>

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="ejemplo@ejemplo.com"/>

                    <label for="mensaje">Mensaje</label>
                    <textarea
                      name="mensaje"
                      id="mensaje"
                      cols="30"
                      rows="5"
                      placeholder="Escribe tu mensaje..."
                    ></textarea>
                  </div>
                  <div class="formulario-submit">
                    <input type="submit" value="Enviar" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- FIN SECCION CONTACTO --}}
  </main>


  <footer>
    <div class="footer-fondo">
      <div class="container">
        <div class="row my-3">
          <div class="col-4 col-sm-4 col-md-3 col-lg-3">
            <img src="/img/logoBlanco.svg" alt="" />
          </div>
          <div class="col-4 col-sm-4 col-md-3 col-lg-3">
            <div class="footer-lista footer-texto">
              <a href="a">Inicio</a>
              <a href="a">Crea tu burguer</a>
              <a href="a">Ranking</a>
            </div>
          </div>
          <div class="col-4 col-sm-4 col-md-3 col-lg-3">
            <div class="footer-lista footer-texto">
              <a href="a">Hamburgueserías</a>
              <a href="a">Quienes somos</a>
              <a href="a">Contacto</a>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <div class="footer-lista footer-texto condiciones">
              <h5>Condiciones</h5>
              <a href="a">Avisos Legales</a>
              <a href="a">Terminos de privacidad</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="footer-texto footer-copy">
              <p> © 2020 Burgers. Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>