<link rel="stylesheet" href="/css/profile.css">
<body>
  <header>
    {{> navbar}}
  </header>

  <main>
    <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Modificar Datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="burgers-tab" data-toggle="tab" href="#burgers" role="tab" aria-controls="burgers" aria-selected="false">Hamburguesas Creadas</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <h3 class="mt-3">Modificar Datos de Usuario</h3>

        <form id="profileForm" class="mt-4">
          <div id="upload-option">
            {{!-- INSERT BY JAVASCRIPT --}}
          </div>
          <div class="form-group">
            <label for="user-name">Nombre de Usuario</label>
            <input type="text" class="form-control" id="user-name" placeholder="Nombre de Usuario">
          </div>
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" class="form-control" id="user-email" placeholder="Correo Electrónico">
          </div>
          <div class="form-group">
            <label for="password">Contraseña Actual</label>
            <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
          </div>
          <div class="form-group">
            <label for="newPassword">Nueva Contraseña</label>
            <input type="password" class="form-control" id="newPassword" placeholder="Confirmar Contraseña">
          </div>
          <button id="submit-btn" type="submit" class="btn btn-danger">Guardar Cambios</button>
        </form>
      </div>


      <div class="tab-pane fade" id="burgers" role="tabpanel" aria-labelledby="burgers-tab">
        <h3 class="mt-3">Hamburguesas Creadas</h3>
        <div id="burgersList" class="mt-4"></div>
      </div>
    </div>
  </div>
  </main>

  <footer>
    {{> footer}}
  </footer>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.2.0/bcrypt.min.js"></script>
<script src="/js/profile.js"></script>