<body>
  <header>
    {{> navbar}}
  </header>

  <main>
    <div class="container">
      <div class="row">

        <div class="col-12 col-lg-6 col-md-8 col-sm-12 que-es-burgers">
          <div>
            <h2>¿Qué es Burgers?</h2>
            <p>
              En el valle encantado, las mariposas danzan al compás del viento, pintando el cielo con sus alas de
              colores. Los susurros del río acarician los árboles centenarios, mientras el sol derrama su cálido abrazo
              sobre la pradera. En este mágico lugar, la naturaleza despierta en armonía, regalando paz y serenidad a
              quienes lo descubren.
            </p>
          </div>
        </div>

        <div class="col-12 col-lg-6 col-md-4 col-sm-12">
          <div class="que-es-burgers que-es-burgers-image">
            <img src="/img/que-es.jpg" alt="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 col-md-4 col-sm-12">
          <div class="que-es-burgers-abajo">
            <img src="/img/empresa.png" alt="" />
          </div>
        </div>

        <div class="col-12 col-lg-6 col-md-8 col-sm-12 que-es-burgers-abajo">
          <div>
            <h2>¿Cómo creo?</h2>
            <p>
              En la ciudad bulliciosa, los transeúntes se apresuran en sus quehaceres diarios, mientras los edificios se
              alzan imponentes hacia el cielo. El aroma de los cafés se mezcla con el sonido de los coches y las risas
              de los niños que juegan en el parque. En este vibrante escenario urbano, la diversidad se entrelaza en
              cada esquina, creando una sinfonía de culturas y experiencias.
            </p>
          </div>
        </div>

        <div class="btn-access">
          <a href="/crear">Crear</a>
        </div>
      </div>
    </div>

    {{> contact}}
  </main>

  <footer>
    {{> footer}}
  </footer>
</body>