<body>
  <header>
    {{> navbar}}
  </header>

  <main>
    <div class="container">
      <div class="row">

        <div class="col-12 col-lg-6 col-md-8 col-sm-12 que-es-burgers">
          <div>
            <h2>¿Qué es Burgers?</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At
              molestias porro totam optio perferendis hic minima assumenda,
              illo quisquam? Beatae.Lorem ipsum dolor sit amet consectetur
              adipisicing elit. At molestias porro totam optio perferendis hic
              minima assumenda, illo quisquam? Beatae.
            </p>
          </div>
        </div>

        <div class="col-12 col-lg-6 col-md-4 col-sm-12">
          <div class="que-es-burgers que-es-burgers-image">
            <img src="/img/que-es.jpg" alt="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 col-md-4 col-sm-12">
          <div class="que-es-burgers-abajo">
            <img src="/img/que-es.jpg" alt="" />
          </div>
        </div>

        <div class="col-12 col-lg-6 col-md-8 col-sm-12 que-es-burgers-abajo">
          <div>
            <h2>¿Cómo creo?</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At
              molestias porro totam optio perferendis hic minima assumenda,
              illo quisquam? Beatae.Lorem ipsum dolor sit amet consectetur
              adipisicing elit. At molestias porro totam optio perferendis hic
              minima assumenda, illo quisquam? Beatae.
            </p>
          </div>
        </div>

      <div class="btn-access">
        <a href="/crear">Crear</a>
      </div>
      </div>
    </div>

    {{> contact}}
  </main>

  <footer>
    {{> footer}}
  </footer>
</body>