<body>
  <header>
    {{> navbar}}
  </header>
  <main style="padding-top: 115px">
    <div class="container">
      <h1 style="font-weight: 900; color:red; font-size: 48px;">Ranking</h1>

      <!-- Filter -->
      <div class="row mb-3">
        <div class="col-md-3 mb-3">
          <select id="filter-amount" class="form-select">
            <option value="">Cantidad</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>

        <div class="col-md-3 mb-3">
          <select id="filter-difficulty" class="form-select">
            <option value="">Dificultad</option>
            <option value="1">Fácil</option>
            <option value="2">Media</option>
            <option value="3">Difícil</option>
          </select>
        </div>

        <div class="col-md-3 mb-3">
          <select id="filter-num-ingredients" class="form-select">
            <option value="">Nº Ingredientes</option>
            <option value="under-five">Menos de 5</option>
            <option value="between-five-ten">Entre 5 y 10</option>
            <option value="more-ten">Más de 10</option>
          </select>
        </div>

        <div class="col-md-3 mb-3">
          <select id="filter-ingredients" class="form-select">
            <option value="">Ingredientes</option>
            <optgroup label="Pan">
              <option value="cristal">Pan de cristal</option>
              <option value="mollete">Mollete</option>
              <option value="brioche">Brioche</option>
              <option value="normal">Pan burger normal</option>
              <option value="integral">Pan burger integral</option>
            </optgroup>

            <optgroup label="Carne">
              <option value="ternera">Carne de ternera</option>
              <option value="pollo">Carne de pollo</option>
              <option value="cerdo">Carne de cerdo</option>
              <option value="vegana">Carne vegana</option>
            </optgroup>

            <optgroup label="Queso">
              <option value="cheddar">Queso cheddar</option>
              <option value="gouda">Queso gouda</option>
              <option value="brie">Queso brie</option>
              <option value="mozarella">Queso mozarella</option>
              <option value="sin-queso">Sin queso</option>
            </optgroup>

            <optgroup label="Salsas">
              <option value="ketchup">Ketchup</option>
              <option value="mostaza">Mostaza</option>
              <option value="mayonesa">Mayonesa</option>
              <option value="barbacoa">Salsa barbacoa</option>
              <option value="sin-salsa">Sin salsa</option>
            </optgroup>

            <optgroup label="Verduras">
              <option value="lechuga">Lechuga</option>
              <option value="tomate">Tomate</option>
              <option value="cebolla">Cebolla</option>
              <option value="pepinillo">Pepinillo</option>
            </optgroup>

            <optgroup label="Toppings">
              <option value="huevo">Huevo</option>
              <option value="bacon">Bacon</option>
              <option value="patatas">Patatas</option>
              <option value="cebolla-caramelizada">Cebolla caramelizada</option>
            </optgroup>

          </select>
        </div>
      </div>

      <div class="table-responsive">
        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Dificultad</th>
              <th>Num ingre.</th>
              <th>Ingredientes</th>
            </tr>
          </thead>
          <tbody>
              <!-- Here rows will be inserted -->
          </tbody>
        </table>
      </div>

      <!-- Franja roja -->
      <div class="red-banner mt-4">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2>Crea tu burger</h2>
              <p>Una pequeña descripción del servicio.</p>
              <a href="#" class="btn btn-primary">Acceder</a>
            </div>
          </div>
        </div>
      </div>

      {{> contact}}

    </div>
  </main>
  <footer style="margin-top: 100px;">
    {{> footer}}
  </footer>
  <script src="/js/ranking.js"></script>
</body>