.burger-maker{
  padding: 150px 0px;
}
.add-ingredient{
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid red;
  color: red;
  border-radius: 5px;
  filter: opacity(0.3);
  transition: 0.3s;
}

.add-ingredient:hover{
  filter: opacity(1);
  transition: 0.3s;
}

#ingredient-form label{
  color: red;
  font-size: 18px;
}

#dificultad{
  width: 25px;
  height: 25px;
}

#dificultad:checked{
  background-color: red !important;
}

#burger-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#burger-images img {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1;
}

#burger-images img:first-child {
  z-index: 2;
}

@media (max-width: 991px) {
  #burger-images {
    margin-bottom: 700px;
  }
}

.ingredient{
  margin-left: 50px;
}

@media (max-width: 991px) {
  .ingredient{
    margin-left: 200px;
  }
}

.newOption{
  display: flex;
  padding: 0px;
}

#bread-image{
  width: 350px;
}

#topping-image{
  width: 200px;
}

#vegetable-image{
  width: 250px;
}

#cheese-image{
  width: 250px;
}

#meat-image{
  width: 200px;
}

#sauce-image{
  width: 100px;
  margin-left: 110px;
  z-index: 5 !important;
}

@media (max-width: 991px) {
  #bread-image{
    margin-left: 150px;
  }
  #sauce-image{
    margin-left: 260px;
  }
}

@media (max-width: 767px) {
  #bread-image{
    margin-left: 90px;
  }
  #sauce-image{
    margin-left: 200px;
  }
  .ingredient{
    margin-left: 150px;
  }
}

@media (max-width: 575px) {
  #bread-image{
    margin-left: 5%;
  }
  #sauce-image{
    margin-left: 150px;
  }
  .ingredient{
    margin-left: 100px;
  }
}