<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-12">
        <div class="formulario-contenedor">
          <form action="" method="">
            <h2>Contacto</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Velit maxime modi doloremque nemo repellat tempora, ipsum
              voluptatem fugit amet facilis at tenetur hic iusto quis sint
              sit nisi asperiores mollitia placeat dolore.
            </p>
            <p>
              <strong>Telefono:</strong> 123456789
            </p>
            <p>
              <strong>Email:</strong> 123456789
            </p>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre" id="nombre" placeholder="Paquito Pantano" />

              <label for="email">Email</label>
              <input type="email" name="email" id="email" placeholder="ejemplo@ejemplo.com" />

              <label for="mensaje">Mensaje</label>
              <textarea name="mensaje" id="mensaje" cols="30" rows="5" placeholder="Escribe tu mensaje..."></textarea>
            </div>
            <div class="formulario-submit">
              <input type="submit" value="Enviar" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>