<div class="footer-fondo">
  <div class="container">
    <div class="row my-3">
      <div class="col-4 col-sm-4 col-md-3 col-lg-3">
        <img src="/img/logoBlanco.svg" alt="" />
      </div>
      <div class="col-4 col-sm-4 col-md-3 col-lg-3">
        <div class="footer-lista footer-texto">
          <a href="/">Inicio</a>
          <a href="/crear">Crea tu burguer</a>
          <a href="/ranking">Ranking</a>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-3 col-lg-3">
        <div class="footer-lista footer-texto">
          <a href="/burgers">Burgers</a>
          <a href="/quienes-somos">Quienes somos</a>
          <a href="/contacto">Contacto</a>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3">
        <div class="footer-lista footer-texto condiciones text-center">
          <h5>Condiciones</h5>
          <a href="#">Avisos Legales</a>
          <a href="#">Terminos de privacidad</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="footer-texto footer-copy">
          <p> © 2020 Burgers. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</div>