<nav>
  <ul class="menu">
    <li class="logo">
      <a href="/">
        <img src="/img/logoBlanco.svg" alt="Logo" width="150" height="50" />
      </a>
    </li>
    <li class="item"><a href="/crear">Crear</a></li>
    <li class="item"><a href="/ranking">Ranking</a></li>
    <li class="item"><a href="/quienes-somos">Burgers</a></li>
    <li class="item"><a href="/contacto">Contacto</a></li>
    </li>
    {{#if session.user}}
        <li class="item button"><a href='/profile/{{session.user.user_id}}'>{{session.user.username}}</a></li>
        <li class="item button secondary"><a href="/logout">Cerrar sesión</a></li>
      {{else}}
        <li class="item button"><a href="/login">Entrar</a></li>
        <li class="item button secondary"><a href="/register">Registrar</a></li>
      {{/if}}
    <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
  </ul>
</nav>

<script src="/js/navbar.js"></script>