  <nav id="navegacion">
    <a href="/">
      <img
        src="/img/logoBlanco.svg"
        id="logoNav"
        alt="logo blanco Burgers"
        width="200"
        height="50"
      />
    </a>

    <div class="navbar">
      <ul>
        <li>
          <a href="a">Crear</a>
        </li>
        <li>
          <a href="/ranking">Ranking</a>
        </li>
        <li>
          <a href="/quienes-somos">Quienes somos</a>
        </li>
        <li>
          <a href="/contacto">Contacto</a>
        </li>
      </ul>
    </div>

    <a href="/register" class="connection"> Registrar </a>
    <a href="/login" class="connection"> Entrar </a>

    <button id="hamburguesa">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>