<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- CSS --}}
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/Inicio.css">
  <link rel="stylesheet" href="/css/Header.css">
  <link rel="stylesheet" href="/css/Footer.css">
  <link rel="stylesheet" href="/css/PortadaInicio.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/quienes-somos.css">

  {{!-- JAVASCRIPT --}}
  <script src="/js/rankingIndex.js"></script>

  <title>Burgers</title>
</head>
<body>
  {{{body}}}
</body>
</html>