<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- CSS --}}
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/Inicio.css">
  <link rel="stylesheet" href="/css/Header.css">
  <link rel="stylesheet" href="/css/Footer.css">
  <link rel="stylesheet" href="/css/PortadaInicio.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/quienes-somos.css">
  <link rel="stylesheet" href="/css/ranking.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  {{!-- JAVASCRIPT --}}
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="/js/rankingIndex.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  <title>{{title}}</title>
</head>
<body>

  {{{body}}}

</body>
</html>