<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/Header.css" />
  <link rel="stylesheet" href="/css/Registro.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <title>Registro</title>
</head>

<body>
  {{> navbar}}
  <main>
    <div class="container pt-4 d-flex justify-content-center align-items-center contenedor">
      <div class="card formulario-contenedor">
        <div class="row">
          <div class="col-md-6 imageRegister">
            <div style="width: 500px; height: 500px; overflow: hidden;">
              <img src="img/registro.jpg" alt="Imagen de registro">
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <form action="/api/v1/auth/register" method="POST">
                <div class="mb-3">
                  <h1>Registro</h1>
                  <label for="username" class="form-label">Nombre de usuario</label>
                  <input type="text" class="form-control" id="username" name="username"
                    placeholder="Nombre de usuario" />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="ejemplo@ejemplo.com" />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" />
                </div>
                <div class="mb-3">
                  <label for="passwordConfirmation" class="form-label">Confirmar contraseña</label>
                  <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" />
                </div>

                <div class="redirect">
                  <a href="/login">¿Ya tienes cuenta? Inicia sesión</a>
                </div>

                <div class="formulario-submit">
                  <input type="submit" value="Enviar" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    {{> footer}}
  </footer>
</body>

</html>